.wrapper{
    max-width: 1350px;
    position: relative;
    overflow: visible;
}

.wrapper i{
    top: 50%;
    height: 46px;
    width: 46px;
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    line-height: 45px;
    background: #E5BA73;
    border-radius: 50%;
    transform: translateY(-50%);
}

.wrapper i:first-child{
    left: -50px;
}

.wrapper i:last-child{
    right: -25px;
}

.wrapper .carousel{
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
}

.carousel svg{
    height: 100px;
    object-fit: cover;
    width: calc(100% / 3);
}

.carousel svg:first-child{
    margin-left: 0px;
}

@media screen and (max-width: 900px) {
    .carousel svg{
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 550px) {
    .carousel svg{
        width: 100%;
    }
}