.style-judul {
    background-color: #FFEBAD;
    margin: 30px 0 0 60px;
    width: 290px;
    min-height: 50px;
    font-size: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 14px 10px rgba(0, 0, 0, 0.25);
    font-family: "Visby Round CF Medium";
    font-weight: 800;
}

.style-posters {
    margin: 25px 0 0 80px;
}

.style-poster {
    width: 320px;
    margin: 5px 0 0 0.1px;
    filter: drop-shadow(10px 14px 10px rgba(0, 0, 0, 0.25));
    transition: 0.5s;
}

.style-poster:hover {
    transform: scale(1.07);
    z-index: 2;
}

.style-poster:hover {
    cursor: pointer;
}