.seminar-garis {
    border: 2px solid black;
}

.seminar-template {
    width: 80%;
    background-color: #FFEBAD;
    font-family: "Visby Round CF Medium";
    font-weight: 800;
    border-radius: 40px;
    font-size: 22px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.184);
}

.seminar-input {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 40px;
    border-radius: 20px;
    width: 100%;
    padding-left: 20px;
    border: transparent;
    outline: none;
}

.seminar-input:focus {
    border: 5px solid rgba(78, 187, 227, 0.774);
    box-shadow: none;
    transition: 0.25s;
}

.seminar-submit {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
    transition: 0.25s;
}

.seminar-submit:hover {
    background-color: #C58940;
    color: white;
    box-shadow: none;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seminar-fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
} 