@import url('//db.onlinewebfonts.com/c/85c11596f04944470089a2cae2d7d298?family=Visby+Round+CF+Medium');

ul {
    width: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    min-height: 65px;
    font-size: 21px;
}

.nav-logo {
    width: 50px;
    margin: 10px 0 0 20px;
}

.nav-logo2 {
    display: none;
}

.nav-click {
    color: black;
    text-decoration: none;
    z-index: 1;
    font-family: "Visby Round CF Medium";
    font-weight: 500;
}

.nav-click:hover {
    color: black;
    font-weight: 600;
}

.nav-active {
    width: 110px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFC510;
    border-radius: 10px;
    font-weight: 600;
}

.nav-oprec {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFC510;
    border-radius: 10px;
    font-weight: 600;
}

.nav-login {
    font-family: "Visby Round CF Medium";
    font-weight: 600;
    font-size: 20px;
    width: 110px;
    background-color: #495579;
    color: white;
    border-radius: 25px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    height: 37px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.nav-login:hover {
    background-color: #7FE9DE;
    color: black;
}

.nav-login:active {
    background-color: #7FE9DE;
    color: black;
}

.nav-toggle div {
    width: 40px;
    height: 4px;
    margin: 8px;
    background: black;
    transition: 0.3s ease-in;
}

.nav-toggle {
    cursor: pointer;
    display: none;
}

.nav-list {
    width: 60%;
}

.nav-garis {
    border: 2px solid black;
}

.nav-login-resp {
    display: none;
}

@media screen and (max-width: 1200px) {
    .nav-list {
        width: 85%;
        margin-right: -30px;
    }

    .nav-login {
        margin-left: 40px;
    }
}

@media screen and (max-width: 990px) {
    .nav-list {
        font-size: 20px;
        width: 100%;
    }

    .nav-login {
        margin-left: 20px;
    }

    .nav-active {
        width: 105px;
        height: 43px;
    }
}

@media screen and (max-width: 768px) {
    .nav-toggle {
        display: block;
    }

    .nav-list {
        font-size: 30px;
    }

    .nav-logo {
        display: none;
    }

    .nav-logo2 {
        display:flex;
        width: 50px;
        margin: 10px 0 0 20px;
    }

    .nav-menu {
        font-size: 30px;
        position: fixed;
        top: 69px;
        right: 20;
        height: 93%;
        width: 100%;
        background: #FFEBAD;
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }

    .nav-active {
        width: 140px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FFC510;
        border-radius: 10px;
        font-weight: 600;
    }

    .nav-login-resp {
        display: flex;
        width: 170px;
        height: 50px;
        margin-top: -10px;
        font-family: "Visby Round CF Medium";
        font-weight: 600;
        background-color: #495579;
        color: white;
        border-radius: 25px; 
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        transition: 0.2s ease-in-out;
    }

    .nav-login-resp:hover {
        background-color: #7FE9DE;
        color: black;
    }

    .nav-login {
        display: none;
    }
}

.nav-resp {
    transform: translateX(0);
}